body {
    background-color: #121212
}

body, button, label {
    color: white;
}

.panel,
.alert {
    background-color: #232323;
    border-color: #232323;
    color: #bbb;
}

.secondary-text {
    color: #bbb;
}

.table>tbody>tr:nth-child(2n+1)>td,.table>tbody>tr:nth-child(2n+1)>th {
    background-color: #000;
    color: #fff;
}



.nav.nav-tabs.nav-tabs-primary {
    filter: contrast(0.72) invert(1) hue-rotate(290deg) !important;
}

input[type="button"].datepick-trigger {
    background-color: #202020;
}

.recipients-selected .recipient-item {
    background-color: #000;
    color: white;
    border: 1px solid #2b2b2b;
}

.panel-group {
    border-width: 0!important;
}

.panel .panel-default {
    background-color: black;
}

.selection-body > li.palkki > a {
    filter: invert(1);
}

.datepick-popup, .date-inline {
    background: black;
}

.vismaDatePickerFooter a.vismaDatePickerCmd-clear {
    color: white;
}

.navbar .nav .dropdown.tabdrop.open .dropdown-toggle:hover {
    background: #6e6e6e
}

.navbar .nav>div.dropdown .dropdown-menu>div>a:not(.btn):hover,.navbar .nav>div.dropdown .dropdown-menu>li>a:not(.btn):hover,.navbar .nav>li.dropdown .dropdown-menu>div>a:not(.btn):hover,.navbar .nav>li.dropdown .dropdown-menu>li>a:not(.btn):hover {
    background-color: #6e6e6e
}

.navbar.navbar-second-level .third-level.dropdown-menu .third-level-item>a:hover {
    background-color: #6e6e6e
}

.navbar .nav .dropdown.tabdrop.open .dropdown-toggle:hover {
    background: #6e6e6e
}

.navbar .nav div.second-level-item.hoverState>a:not(.dropdown-toggle),.navbar .nav li.second-level-item.hoverState>a:not(.dropdown-toggle) {
    background: #6e6e6e;
    text-decoration: none;
    color: white;
}

.navbar .nav .third-level.third-level-collapse>.third-level-item>a:hover {
    background: #6e6e6e!important;
    text-decoration: none;
    color: white;
    -webkit-box-shadow: 0 -1px 0 #6e6e6e 0 -1px 0 #6e6e6e;
    box-shadow: 0 -1px 0 #6e6e6e 0 -1px 0 #6e6e6e
}

.login-page .alert{
    background-color: rgb(74 30 30 / 80%) !important;
}

.nav-tabs:not(.navbar-nav)>li.tabdrop .dropdown-menu>li>a.pressed,.nav-tabs:not(.navbar-nav)>li.tabdrop .dropdown-menu>li>a:active,.nav-tabs:not(.navbar-nav)>li.tabdrop .dropdown-menu>li>a:focus {
    background: #6e6e6e;
    -webkit-box-shadow: 0 1px 0 #6e6e6e inset,0 -1px 0 #6e6e6e inset;
    box-shadow: 0 1px 0 #6e6e6e inset,0 -1px 0 #6e6e6e inset
}

.nav-tabs:not(.navbar-nav)>li.tabdrop .dropdown-menu>li>a:hover {
    border: 0;
    background: #6e6e6e;
    color: white;
    -webkit-box-shadow: none;
    box-shadow: none
}

.navbar .navbar-brand.dropdown .dropdown-menu>li>a.hover,.navbar .navbar-brand.dropdown .dropdown-menu>li>a:not(.active):hover {
    background-color: #6e6e6e;
    -webkit-box-shadow: 0 -1px 0 #6e6e6e 0 1px 0 #6e6e6e!important;
    box-shadow: 0 -1px 0 #6e6e6e 0 1px 0 #6e6e6e!important
}

li.palkki > a[title],  li:not([role='presentation']) > a[title]:not([aria-label]) {
    filter: invert(1);
}

form.quickreply:before,form.quickreply:after {border-color: transparent !important;}
form.quickreply {
    background-color: black;
}

/* a link selector hell */
.panel a:not(.btn),
a.semi-bold-link,
a.link-with-arrow,
a.icon-link span,
.fancy-link,
.semi-bold-link,
a small,
a.icon-link span,
div a.link-with-arrow span,
div table tbody tr td a.bold-link,
div.resp-column.col-lg-4.col-lg-push-8.col-md-4.col-md-push-8.col-sm-12.right h1 a,
div.resp-column.col-lg-8.col-lg-pull-4.col-md-8.col-md-pull-4.col-sm-12.left h1 a,
h1 a,
h2 a.text-style-link {
    /* the color is overwritten by wilma.css already */
    /* filter: contrast(1.3) brightness(2) hue-rotate(47deg);*/
    color: #3eb0ef !important;

}

table.vismaDatePickerCalendar th span, table.vismaDatePickerCalendar td span, table.vismaDatePickerCalendar th a, table.vismaDatePickerCalendar td a {
    color: white;
}

.table.table-condensed>tbody>tr>td, .table.table-condensed>tfoot>tr>td, .table.table-condensed>thead>tr>td {
    background-color: black;
}

#choices-table .level1 TD {
    background-color: #213840;
}

.secondary-headline.grey,.secondary-text {
    color: #d9d7d7
}

.custom-tooltip {
    border-color: rgba(0,0,0,.1) #e9e9e9 #dedede;
    background: #4f4f4f;
    color: whitesmoke;
}

.feedback-frame-body,.feedback-frame-wrapper {
    background-color: rgba(81, 81, 81, 0.7);
    color: whitesmoke;
}

.exam-block .exam.not-attending {
    background-color: #4c4c4c;
    border-color: #cfcfcf
}

.font-color-base {
    color: #c8c8c8 !important
}

.link-with-arrow:before,
.vismaDatePickerHeader .vismaDatePickerCmd {
    filter: invert(1);
}

tr.odd td>:not(.event .at-bl):not(sup):not(small),
.table>tbody>tr:nth-child(2n+1)>td:not(.event),
.table>tbody>tr:nth-child(2n+1)>th {
    background-color: #292929 !important;
}

td.event {
    border-left: 0;
}

.table tbody {
    background-color: #3c3c3c !important;
}

.selection-body .list-group .list-group-item.selected>a {
    background-color: #3b3b3b;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.selection-body .list-group .list-group-item:hover>a {
    background-color: #1a1a1a;
}

.selection-body {
    background-color: #000;
    color: white;
}

.selection-body .selection-header {
    background: #424242;
    color: white;
}

.selection-body .error-bubble, .selection-body .window-box {
    background-color: #000;
    color: white;
    border-style: none;
}

.selection-body .timetable {
    background-color: #474747;
}

.selection-body .timetable .day {
    background-color: #474747;
}

.modal-header {
    background: #474747;
    color: white;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.modal-content {
    background-color: black;
    color: white;
}

.modal-title {
    color: white;
}

button.close span, button.close:hover span {
    filter: invert(1);
}

body.selection-body > .panel {
    background: #1e1e1e;
    color: white;
    border: 1px solid #000;
}

td.odd {
    background-color: #3c3c3c !important;
}

.odd {
    background-color: #3c3c3c !important;
}

.navbar .nav > div.dropdown .dropdown-menu > div > a:not(.btn), .navbar .nav > div.dropdown .dropdown-menu > li > a:not(.btn), .navbar .nav > li.dropdown .dropdown-menu > div > a:not(.btn), .navbar .nav > li.dropdown .dropdown-menu > li > a:not(.btn) {
    color: white;
}

.navbar .nav .dropdown.tabdrop.open .dropdown-toggle > .icon-align-justify, .navbar .nav .dropdown.tabdrop.open .dropdown-toggle > .icon-align-justify::after, .navbar .nav .dropdown.tabdrop.open .dropdown-toggle > .icon-align-justify::before {
    background: white;
}

tr td>:not(.event .at-bl)>,.table>tbody>tr:nth-child(2n)>td,
.table>tbody>tr:nth-child(2n)>th {
    background-color: #373737 !important;
}

.table>tbody {
    background-color: transparent;
}

.table>tbody td.zero {
    color: #b7b7b7 !important
}

TR TD.at-tp-other {
    color: white;
}

.table>tbody td.letter-text {
    text-align: center;
    vertical-align: top;
    color: #059ad7;
    background-color: #515151 !important
}

.table:not(.table-grey).hidden-odd-fix>tbody>tr.even,.table:not(.table-grey).hidden-odd-fix>tbody>tr.odd,.table:not(.table-grey).hidden-odd-fix>tbody>tr.odd>td,.table:not(.table-grey).manual-odd-even>tbody>tr.even,.table:not(.table-grey).manual-odd-even>tbody>tr.odd,.table:not(.table-grey).manual-odd-even>tbody>tr.odd>td {
    background-color: #808080;
    color: whitesmoke;
}

.table:not(.table-grey).hidden-odd-fix>tbody>tr.even>td,.table:not(.table-grey).manual-odd-even>tbody>tr.even>td {
    background-color: #3b3b3b
}

.table:not(.table-grey).hidden-odd-fix.white.bottom-borders>tbody>tr>td,.table:not(.table-grey).manual-odd-even.white.bottom-borders>tbody>tr>td {
    border-bottom: 1px solid #ddd!important
}

.table:not(.table-grey).hidden-odd-fix.white>tbody,.table:not(.table-grey).manual-odd-even.white>tbody {
    background-color: #000000 !important;
    color: whitesmoke;
}

.twitter-typeahead .tt-menu .tt-dataset .tt-suggestion.tt-cursor,.twitter-typeahead .tt-menu .tt-dataset .tt-suggestion:hover {
    background-color: #41687c;
    color: #d6d3d3;
}

.table-hover tr.lastselected>td {
    background: #41687c !important;
    color: #d6d3d3;
}

.letter-link.selected {
    background-color: #41687c;
    border-radius: 4px;
    color: white;
    border: 1px solid #0089d9
}

.letter-link:hover {
    background-color: #41687c;
    color: white;
    border-radius: 4px
}

.slider.slider-horizontal .slider-selection,.slider.slider-horizontal .slider-tick.in-selection {
    background-color: #41687c;
    background-image: none
}

.dropdown-menu li.active:hover {
    background-color: #41687c;
}

.navbar .nav div.second-level-item>a.active:hover,.navbar .nav li.second-level-item>a.active:hover {
    color: white;
    background-color: #41687c;
}

.draggable-list .draggable-list-item.dragging {
    background-color: #41687c;
    z-index: 3
}

.table-hover tr.lastselected>td {
    background: #41687c!important
}

.selection-body .list-group .list-group-item:hover>a {
    background-color: #41687c
}

#dragtree-marker {
    font-size: 1px;
    position: absolute;
    height: 2px;
    background: #41687c
}


.schedule .block-area-container .schedule-container .block span.dark {
    color: #d6d3d3
}

.schedule .block-area-container .schedule-container .block span.dark>a {
    color: #174e6d
}

.schedule .block-area-container .hours-container div {
    color: #d6d3d3
}

.schedule.schedule-old thead th {
    background-color: #3b3b3b;
}

.schedule.schedule-old tbody tr {
    background-color: #3b3b3b;
    height: 1em
}

.dropdown-menu {
    background-color: #3b3b3b;
    color: #d6d3d3;
    border-color: rgba(0,0,0,.1) #030303 #000000;
}

.dropdown-menu li .a {
    color: #d6d3d3;
}

.well {
    background: #383535;
    color: white;
}

.panel-group>.panel>.panel-heading>.panel-title>a:first-child>.caret {
    filter: invert(1);
}

nav > div.pull-right:not(.dropdown), a[title="YubiKey"] {
    filter: invert(1);
}

.navbar.nav-wilma .nav>li.dropdown.open>a.dropdown-toggle.profile .name-container-caret {
    filter: invert(1);
}

.errorPage-container .error-page {
    background-color: #1a1a1a;
}

.login-page {
    background: black;
}

.login-box .login-header, .login-box .login-content, .login-box .login-footer {
    background-color: #292929;
    color: white;
}

.nav-pills>li.active .badge,.nav-pills>li:active .badge {
    color: #fff;
    background: #282828;
    -webkit-box-shadow: -1px 0 0 rgba(0,0,0,.12) inset,1px 0 0 rgba(0,0,0,.12) inset,0 1px 1px rgba(0,0,0,.1) inset,0 -1px 0 rgba(0,0,0,.25) inset;
    box-shadow: -1px 0 0 rgba(0,0,0,.12) inset,1px 0 0 rgba(0,0,0,.12) inset,0 1px 1px rgba(0,0,0,.1) inset,0 -1px 0 rgba(0,0,0,.25) inset
}

.navbar.navbar-second-level .third-level.dropdown-menu .third-level-item>a:hover {
    background-color: #086996
}

.table.table-hover>tbody>tr:hover>td,.table.table-hover>tbody>tr:hover>th,.table.table-hover>tfoot>tr:hover>td,.table.table-hover>tfoot>tr:hover>th,.table.table-sorter>tbody>tr:hover>td,.table.table-sorter>tbody>tr:hover>th,.table.table-sorter>tfoot>tr:hover>td,.table.table-sorter>tfoot>tr:hover>th {
    background: #086996
}

.dropdown li>a:not(.btn):hover,.dropdown-menu>li>a:not(.btn):hover {
    background: #086996
}

.navbar .nav .dropdown.tabdrop.open .dropdown-toggle:hover {
    background: #086996
}


.navbar .nav div.second-level-item.hoverState>a:not(.dropdown-toggle),.navbar .nav li.second-level-item.hoverState>a:not(.dropdown-toggle) {
    background: #086996;
    text-decoration: none;
    color: #ffffff
}

.navbar .nav .third-level.third-level-collapse>.third-level-item>a:hover {
    background: #086996!important;
    text-decoration: none;
    color: #ffffff;
    -webkit-box-shadow: 0 -1px 0 #086996 0 -1px 0 #086996;
    box-shadow: 0 -1px 0 #086996 0 -1px 0 #086996
}

.sidenav .inner-scroll>.nav .nav>li>a:hover {
    background-color: #086996;
    border: 0;
    -webkit-box-shadow: 0 1px 0 #086996 inset,0 -1px 0 #086996 inset;
    box-shadow: 0 1px 0 #086996 inset,0 -1px 0 #086996 inset
}

.sidenav .inner-scroll>.nav.nav-one-level li:not(.active):not(.show-nav)>a:hover {
    background-color: #086996;
    -webkit-box-shadow: none;
    box-shadow: none
}

.sidenav .inner-scroll>.nav.nav-one-level li:not(.active):not(.show-nav)>a:hover:before {
    background-color: #086996;
    top: -1px
}

.list-group>a.list-group-item:not(.disabled):hover {
    background-color: #086996;
    margin: 0;
    padding-right: 18px;
    padding-left: 18px;
    border-bottom: 1px solid #086996;
    color: white;
    text-decoration: none;
    -webkit-box-shadow: 0 -1px 0 #086996;
    box-shadow: 0 -1px 0 #086996
}

.panel-group>.panel>.panel-heading>.panel-title>a:first-child:hover {
    background-color: #086996;
    position: relative;
    margin: 0;
    padding: 12px 20px;
    border-top-color: #086996;
    border-bottom-color: transparent;
    -webkit-box-shadow: 0 1px 0 #086996;
    box-shadow: 0 1px 0 #086996
}

.panel-group>.panel>.panel-collapse .panel-body>.panel>.panel-heading>.panel-title>a:first-child:hover {
    background-color: #086996;
    border-bottom: 1px solid #086996;
    color: whitesmoke;
}

.panel-group>.panel>.panel-collapse .panel-body>.panel>.panel-heading>.panel-title>a:first-child:hover+.anchorjs-link:after {
    bottom: -3px;
    border-color: #086996 transparent transparent
}

.panel-group>.panel>.panel-collapse .panel-body>.panel>.panel-heading>.panel-title>a.collapsed:hover {
    background-color: #086996
}

.panel-group>.panel .panel-collapse.in .panel-heading:hover+.panel-collapse.in::after,.panel-group>.panel .panel-collapse.in .panel-heading:hover+.panel-collapse.in::before {
    background-color: #086996
}

.panel-group.list-group>.panel>.panel-heading>.panel-title>a:first-child:hover {
    color: white;
    margin: 0 0;
    padding-left: 15px;
    padding-right: 15px;
    border-color: #086996 transparent transparent;
    background-color: #086996;
    -webkit-box-shadow: none;
    box-shadow: none
}

.panel-group.list-group .panel-collapse>.list-group>.list-group-item:hover {
    cursor: pointer;
    color: white;
    background-color: #086996;
    margin-left: 0;
    margin-right: 0;
    padding-left: 30px;
    padding-right: 18px;
    -webkit-box-shadow: none;
    box-shadow: none
}

.login-page .alert.login-footer-alert .dropdown-menu>li>a.active:hover {
    background-color: #086996
}

.navbar .nav div.second-level-item>a:hover,.navbar .nav li.second-level-item>a:hover {
    background: #086996!important;
    text-decoration: none;
    color: #ffffff;
    -webkit-box-shadow: 0 -1px 0 #086996 0 -1px 0 #086996;
    box-shadow: 0 -1px 0 086996 0 -1px 0 086996
}

.navbar .navbar-brand.dropdown .dropdown-menu>li>a.hover,.navbar .navbar-brand.dropdown .dropdown-menu>li>a:not(.active):hover {
    background-color: #086996;
    -webkit-box-shadow: 0 -1px 0 #086996 0 1px 0 #086996!important;
    box-shadow: 0 -1px 0 #086996 0 1px 0 #086996!important
}

.navbar .nav>div.dropdown .dropdown-menu>div>a:not(.btn):hover,.navbar .nav>div.dropdown .dropdown-menu>li>a:not(.btn):hover,.navbar .nav>li.dropdown .dropdown-menu>div>a:not(.btn):hover,.navbar .nav>li.dropdown .dropdown-menu>li>a:not(.btn):hover {
    background-color: #086996
}

.navbar.navbar-second-level .third-level.dropdown-menu .third-level-item>a:hover {
    background-color: #086996
}


.nav-tabs:not(.navbar-nav)>li.tabdrop .dropdown-menu>li>a:hover {
    border: 0;
    background: #086996;
    color: white;
    -webkit-box-shadow: none;
    box-shadow: none
}


.nav-pills>li.active>a,.nav-pills>li.dropdown.open>a {
    color: white;
}

.panel-group>.panel>.panel-heading>.panel-title>a:first-child:hover {
    background-color: #4c4c4c;
    border-top-color: #4c4c4c;
    -webkit-box-shadow: 0 1px 0 #4c4c4c;
    box-shadow: 0 1px 0 #4c4c4c
}

.panel-group>.panel>.panel-collapse .panel-body>.panel>.panel-heading>.panel-title>a:first-child:hover {
    background-color: #4c4c4c;
    border-bottom: 1px solid #4c4c4c;
}

.panel-group>.panel>.panel-collapse .panel-body>.panel>.panel-heading>.panel-title>a:first-child {
    border-top: 1px solid #393939;
    border-bottom: 1px solid #393939;
    background: #393939;
}

.panel-group>.panel .panel-collapse.in .panel-collapse.in .panel-body {
    background: #393939;
    color: white;
}

.panel-group>.panel .panel-collapse.in .panel-collapse.in::after, .panel-group>.panel .panel-collapse.in .panel-collapse.in::before {
    display: none;
}

.recipients-list .recipient-block {
    color: white;
}

.recipients-list .list-group .list-group-item.odd {
    background-color: #282828;
}

.list-group {
    background-color: black;
    color: white;
}

.dropdown-menu .dropdown-header {
    border-bottom: 1px solid #ebebeb;
    color: #ececec;
}

.dropdown-menu .dropdown-header:first-child {
    padding-top: 6px
}

.dropdown li>a:not(.btn),.dropdown-menu>li>a:not(.btn) {
    color: #dedede;
}

.dropdown li>a:not(.btn):hover,.dropdown-menu>li>a:not(.btn):hover {
    background: #00567e
}

.dropdown li>a:not(.btn).active,.dropdown li>a:not(.btn).active:hover,.dropdown li>a:not(.btn):active,.dropdown-menu>li>a:not(.btn).active,.dropdown-menu>li>a:not(.btn).active:hover,.dropdown-menu>li>a:not(.btn):active {
    background: #3b3b3b;
}


.schedule.schedule-old tbody tr.odd {
    background-color: #3b3b3b
}

.schedule.schedule-old tbody td.event {
    background-color: #000;
}

.formative-grading .row.odd {
    background-color: #808080
}

.presence-choices-table tr.odd {
    background-color: #808080
}

.schedule.schedule-old tbody td.event.highlight {
    background-color: #0276b1
}

.table thead>tr>td.repeater-buttons {
    background-color: #3b3b3b
}

.sidepanel {
    background-color: #3b3b3b;
    color: whitesmoke;
}

.sidepanel-v2-content {
    background-color: #3b3b3b;
    color: whitesmoke;
}

.table>thead>tr {
    background: #3b3b3b;
    color: #e0e0e0;
}

.table>thead>tr>th {
    color: #e0e0e0;
}

.table.table-hover>tbody>tr:hover>td,.table.table-hover>tbody>tr:hover>th,.table.table-hover>tfoot>tr:hover>td,.table.table-hover>tfoot>tr:hover>th,.table.table-sorter>tbody>tr:hover>td,.table.table-sorter>tbody>tr:hover>th,.table.table-sorter>tfoot>tr:hover>td,.table.table-sorter>tfoot>tr:hover>th {
    background: #105279;
    color: whitesmoke;
}

.table.table-active>thead>tr>td:hover,.table.table-hover>thead>tr>td:hover,.table.table-sorter>thead>tr>td:hover,.table.table-sorter>thead>tr>th:hover {
    cursor: pointer;
    color: white;
    background: #116191;
    background: -webkit-linear-gradient(top,#116191 10%,#116191 75%);
    background: linear-gradient(to bottom,#116191 10%,#116191 75%);
}

.table.table-active>tbody>tr.active>td,.table.table-active>tbody>tr.active>th,.table.table-active>tbody>tr.pressed>td,.table.table-active>tbody>tr.pressed>th,.table.table-active>tfoot>tr.active>td,.table.table-active>tfoot>tr.active>th,.table.table-active>tfoot>tr.pressed>td,.table.table-active>tfoot>tr.pressed>th,.table.table-sorter>tbody>tr.active>td,.table.table-sorter>tbody>tr.active>th,.table.table-sorter>tbody>tr.pressed>td,.table.table-sorter>tbody>tr.pressed>th,.table.table-sorter>tfoot>tr.active>td,.table.table-sorter>tfoot>tr.active>th,.table.table-sorter>tfoot>tr.pressed>td,.table.table-sorter>tfoot>tr.pressed>th,.table>tbody>tr.active>td,.table>tbody>tr.active>th,.table>tbody>tr>td.active,.table>tbody>tr>th.active,.table>tfoot>tr.active>td,.table>tfoot>tr.active>th,.table>tfoot>tr>td.active,.table>tfoot>tr>th.active {
    background: #116191;
    color: white;
    -webkit-box-shadow: 0 1px 0 #116191 inset,0 -1px 0 #116191 inset;
    box-shadow: 0 1px 0 #116191 inset,0 -1px 0 #116191 inset
}

.table.table-active:not(.table-grey)>tbody>tr.active>td:first-child:before,.table.table-active:not(.table-grey)>tbody>tr.active>th:first-child:before,.table.table-active:not(.table-grey)>tfoot>tr.active>td:first-child:before,.table.table-active:not(.table-grey)>tfoot>tr.active>th:first-child:before,.table.table-sorter:not(.table-grey)>tbody>tr.active>td:first-child:before,.table.table-sorter:not(.table-grey)>tbody>tr.active>th:first-child:before,.table.table-sorter:not(.table-grey)>tfoot>tr.active>td:first-child:before,.table.table-sorter:not(.table-grey)>tfoot>tr.active>th:first-child:before,.table:not(.table-grey)>tbody>tr.active>td:first-child:before,.table:not(.table-grey)>tbody>tr.active>th:first-child:before,.table:not(.table-grey)>tfoot>tr.active>td:first-child:before,.table:not(.table-grey)>tfoot>tr.active>th:first-child:before {
    color: white;
}

.table.table-active:not(.table-grey)>tbody>tr:active>td:first-child:before,.table.table-active:not(.table-grey)>tbody>tr:active>th:first-child:before,.table.table-active:not(.table-grey)>tbody>tr>td.active:before,.table.table-active:not(.table-grey)>tbody>tr>th.active:before,.table.table-active:not(.table-grey)>tfoot>tr:active>td:first-child:before,.table.table-active:not(.table-grey)>tfoot>tr:active>th:first-child:before,.table.table-active:not(.table-grey)>tfoot>tr>td.active:before,.table.table-active:not(.table-grey)>tfoot>tr>th.active:before,.table.table-sorter:not(.table-grey)>tbody>tr:active>td:first-child:before,.table.table-sorter:not(.table-grey)>tbody>tr:active>th:first-child:before,.table.table-sorter:not(.table-grey)>tbody>tr>td.active:before,.table.table-sorter:not(.table-grey)>tbody>tr>th.active:before,.table.table-sorter:not(.table-grey)>tfoot>tr:active>td:first-child:before,.table.table-sorter:not(.table-grey)>tfoot>tr:active>th:first-child:before,.table.table-sorter:not(.table-grey)>tfoot>tr>td.active:before,.table.table-sorter:not(.table-grey)>tfoot>tr>th.active:before,.table:not(.table-grey)>tbody>tr>td.active:before,.table:not(.table-grey)>tbody>tr>th.active:before,.table:not(.table-grey)>tfoot>tr>td.active:before,.table:not(.table-grey)>tfoot>tr>th.active:before {
    color: white;
}

.table.table-active>thead>tr>td.pressed,.table.table-active>thead>tr>td.pressed:hover,.table.table-sorter>thead>tr>td.pressed,.table.table-sorter>thead>tr>td.pressed:hover,.table.table-sorter>thead>tr>th.pressed,.table.table-sorter>thead>tr>th.pressed:hover {
    background: #053767;
    color: whitesmoke;
}

.table.table-grey tbody {
    background: #3e3e3e;
    color: white;
}


.table.table-grey>tbody>tr:nth-child(2n+1)>td,.table.table-grey>tbody>tr:nth-child(2n+1)>th {
    background-color: #3b3b3b;
    color: white;
}

.table.table-grey.table-hover>thead>tr>td:hover,.table.table-grey.table-sorter>thead>tr>td:hover,.table.table-grey.table-sorter>thead>tr>th:hover {
    cursor: pointer;
    background: #3e3e3e;
    background: -webkit-linear-gradient(top,#3e3e3e 10%,#3e3e3e 75%);
    background: linear-gradient(to bottom,#3e3e3e 10%,#3e3e3e 75%)
}

.table.table-grey.table-active>thead>tr>td.pressed,.table.table-grey>thead>tr>td.pressed {
    background: #053767;
    color: whitesmoke;
}

.table.disabled>tbody {
    background: black;
    color: white;
}

.table.disabled>tbody>tr:nth-child(2n+1)>td,.table.disabled>tbody>tr:nth-child(2n+1)>th {
    background: #3b3b3b;
}


.nav-pills>li>a {
    border-color: #353535 #353535 #212121;
    background: #353535;
    background: -webkit-linear-gradient(top,#353535 10%,#212121 75%);
    background: linear-gradient(to bottom,#353535 10%,#212121 75%);
}

.table.table-grey.table-active>thead>tr>td.active,.table.table-grey.table-active>thead>tr>th.active,.table.table-grey.table-hover>thead>tr>td:hover,.table.table-grey.table-hover>thead>tr>th:hover,.table.table-grey.table-sorter>thead>tr>td:hover,.table.table-grey.table-sorter>thead>tr>th:hover,.table.table-grey>thead>tr>th {
    color: #197eba;
    background: #000000
}

.navbar .nav>div.dropdown.open .dropdown-toggle, .navbar .nav>li.dropdown.open .dropdown-toggle {
    color: white;
}

.table.table-grey.table-hover>tbody>tr:hover>td,.table.table-grey.table-hover>tbody>tr:hover>th,.table.table-grey.table-hover>tfoot>tr:hover>td,.table.table-grey.table-hover>tfoot>tr:hover>th,.table.table-grey.table-sorter>tbody>tr:hover>td,.table.table-grey.table-sorter>tbody>tr:hover>th,.table.table-grey.table-sorter>tfoot>tr:hover>td,.table.table-grey.table-sorter>tfoot>tr:hover>th {
    background-color: #197eba
}

.nav-pills>li.active>a, .nav-pills>li.dropdown.open>a {
    border-color: #454545 #454545 #000000 !important;
    background: #000000!important;
    background: -webkit-linear-gradient(top,#353535 0,#000000 100%)!important;
    background: linear-gradient(to bottom,#353535 0,#000000 100%)!important;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.15) inset,0 1px 0 rgba(255,255,255,.2)!important;
    box-shadow: 0 1px 1px rgba(0,0,0,.15) inset,0 1px 0 #353535!important;
}

.table.detail-table tr>td.female {
    background-color: #603d3d !important
}

.table.detail-table tr>td.male {
    background-color: #5b6467 !important
}

.table.detail-table tr.odd>td.female {
    background-color: rgba(124, 77, 77, 0.6) !important
}

.table.detail-table tr.odd>td.male {
    background-color: rgba(90, 103, 114, 0.6) !important
}

.table.detail-table tr.total>td {
    border-top: 1px solid #484848
}

.nav-pills>li.active>a:hover {
    background: #515151;
    background: -webkit-linear-gradient(top,#515151 10%, #515151 75%);
    background: linear-gradient(to bottom,#515151 10%,#515151 75%);
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.1);
    box-shadow: 0 1px 0 rgba(0,0,0,.1);
    color: #d7d7d7
}


.nav-pills>li>a:active {
    background: #000000;
    background: -webkit-linear-gradient(top,#353535 0,#000000 100%);
    background: linear-gradient(to bottom,#353535 0,#000000 100%);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.15) inset,0 1px 0 rgba(255,255,255,.2);
    box-shadow: 0 1px 1px rgba(0,0,0,.15) inset,0 1px 0 #353535;
    border-bottom-color: #454545;
}

.nav-pills>li>a:hover {
    background: #4a4a4a;
}

.panel .panel-side {
    background-color: transparent;
    border-left-color: transparent;
}

.reservation-event strong {
    /*color: #ccc;*/
}

.navbar .nav .dropdown.tabdrop .dropdown-menu>li.active>a:hover {
    background: #41687c;
    -webkit-box-shadow: 0 -1px 0 #41687c;
    box-shadow: 0 -1px 0 #41687c
}

table.vismaDatePickerCalendar tbody td a,
table.vismaDatePickerCalendar thead th span {
    color: white !important;
}

.frontpage .calendar-block table.vismaDatePickerCalendar td.no-events {
    background-color: #1e1e1e;
}

.navbar,
.dropdown-toggle {
    background: #004166 !important;
}

.dropdown-toggle {
    border-left: none !important;
    border-right: none !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    border-left: 1px solid rgba(0, 0, 0, .1) !important;
}

.navbar .nav>li>a {
    border-left: 1px solid rgba(0, 0, 0, .1);
}

.navbar .nav>li>a:hover,
.navbar-brand:hover {
    color: #fff !important;
    background: rgba(0, 0, 0, 0.1) !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}


table.vismaDatePickerCalendar td a:not(.vismaDatePickerHighlight):hover {
    background: none repeat scroll 0 0 #1a1a1a;
    border: 1px solid #1a1a1a;
}

.divider,
h2 {
    border-bottom: 1px solid #444444;
}

.vismaDatePickerFooter {
    border-top: 1px solid #444444;
}

.img[alt="Visma Logo"] {
    height: 25px;
    opacity: 0.8;
}

.container-fluid .nav-tabs {
    filter: contrast(0.72) invert(1) hue-rotate(290deg) !important;
}

.badge.badge-tertiary {
    background: #735122;
    color: #bbb !important;
}

.dock-floating {
    border-left-color: rgba(0, 0, 0, .4);
    border-right-color: rgba(0, 0, 0, .4);
    border-bottom-color: rgba(0, 0, 0, .4);
    border-color: rgba(0, 0, 0, .4);
    background-color: rgba(0, 0, 0, .4);
}

.form-control, .uneditable-input, input[type=password], input[type=datetime], input[type=datetime-local], input[type=date], input[type=month], input[type=time], input[type=week], input[type=number], input[type=email], input[type=url], input[type=search], input[type=tel], input[type=color], input[type=text], textarea {
    background-color: #202020;
    border: 1px solid #181818;
    color: white;
}

.btn.btn-default, .btn:not(.btn.btn-primary)>:not(input[type='checkbox']) {
    border-color: #333333 !important;
    background: linear-gradient(to bottom,#212121 10%,#1e1e1e 75%) !important;
    color: #aaa !important;
}

.tooltip.bottom, .tooltip.left, .tooltip.right, .tooltip.top {
    border-color: #fff;
    background-color: black;
    color: white;
}

.btn-group.btn-group-checkbox .btn.btn-primary.active.focus:not(.left):not(.right), .btn-group.btn-group-checkbox .btn.btn-primary:not(.left):not(.right), .btn-group.btn-group-checkbox .btn.btn-primary:not(.left):not(.right):hover, .btn-group.btn-group-radio .btn.btn-primary.active.focus:not(.left):not(.right), .btn-group.btn-group-radio .btn.btn-primary:not(.left):not(.right), .btn-group.btn-group-radio .btn.btn-primary:not(.left):not(.right):hover,.btn-group.btn-group-checkbox .btn.btn-primary.active:not(.left):not(.right), .btn-group.btn-group-checkbox .btn.btn-primary.active:not(.left):not(.right):hover, .btn-group.btn-group-radio .btn.btn-primary.active:not(.left):not(.right), .btn-group.btn-group-radio .btn.btn-primary.active:not(.left):not(.right):hover {
    color: white;
}

.btn-group.btn-group-checkbox .btn.btn-primary.active.focus:not(.left):not(.right), .btn-group.btn-group-checkbox .btn.btn-primary.active.focus:not(.left):not(.right):hover, .btn-group.btn-group-radio .btn.btn-primary.active.focus:not(.left):not(.right), .btn-group.btn-group-radio .btn.btn-primary.active.focus:not(.left):not(.right):hover {
    color: white;
}

.tooltip-inner {
    color: white;
}

input.btn.btn-primary {
    border-color: #1c5b03 !important;
    background: linear-gradient(to bottom,#1c5b03 10%, #0b4800 75%) !important;
    color: #fcfcfc !important;
}

.recipients-list .recipient-block.active {
    background-color: #003562;
    border-color: #003562
}

.recipients-list .recipient-block:not(.disabled):not(.active):hover {
    background-color: #003562
}

.tooltip.top .tooltip-arrow {
    border-top-color: #fff;

}

.tooltip.top .tooltip-arrow:after {
    border-top-color: #000;
}

.popover.bottom>.arrow, .popover.bottom>.arrow:after {
    border-bottom-color: black;
}

.pagination .btn span {
    filter: invert(1);
}



.breadcrumb>.active {
    color: #bbb;
}

footer img {
    filter: invert(1);
}



.login-box .login-footer .logo-footer {
    filter: invert(1);
}


input[type=checkbox] {
    filter: contrast(0.8) invert(1) hue-rotate(
            165deg
    );
}

body.cke_editable {
    background-color: transparent;
}

.proptable {
    border: 1px solid #131313;
}

.proptable>tbody>tr>td, .proptable>tbody>tr>th, .proptable>tfoot>tr>td, .proptable>tfoot>tr>th, .proptable>thead>tr>td, .proptable>thead>tr>th {
    border-left: 1px solid #131313;
}
.nav-tabs:not(.navbar-nav)+.tab-content {
    border-top: 3px solid #318CB4;
}

.badge.badge-disabled {
    background: #575555;
    color: #f0f0f0;
    border-color: #575555;
}

.advtable-container .advtable-body-container {
    background: transparent;
}

.advtable-container .advtable-inner-container table tr>td {
    background: #202020;
}

.advtable-container .duplicate tr>td {
    background: #202020!important;
}

.advtable-container .advtable-inner-container table tr>td.blank-event {
    background: #202020;
}

.table.table-seating-order td, .table.table-seating-order td.dropbox-new-col, .table.table-seating-order td.dropbox-new-row, .table.table-seating-order td.dropbox-new-row-and-col {
    background: transparent;
}

.form-group label {
    color: white;
}

.alert, .alert p {
    color: white;
}


.alert.alert-save,.alert.alert-save-error {
    box-shadow: 0 2px 4px rgba(0,0,0,.23);
    border-color: #212121 #212121 #212121
}

.alert.alert-save-error>div,.alert.alert-save>div {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis
}

.alert.alert-save {
    background-color: #202220
}

.alert.alert-save-error {
    background-color: #5b0606
}

.panel .panel-side {
    border-left: 1px solid #0974b3;
    background-color: #2b2b2b
}


.popover {
    border-color: #000000;
    background-color: #000000;
}

.popover-title {
    color: #fff;
}

.popover-content {
    color: snow;
}

#choices-tree {
    background-color: black;
}

input[type="text"].hasDatepick.vismaDateTriggerOpen {
    border: 1px solid #c8c8c8;
    box-shadow: none
}

h1,
.datepick-month-year {
    color: #fefefe;
}

input[type="text"].hasDatepick.vismaDateTriggerActive+.datepick-trigger {
    background: url(img/datepick_trigger.png) no-repeat scroll center -105px #202020
}

.schedule-container div.block:not(.tooltip) {
    color: black;
    filter: invert(1);
}

.toggle-slot {
    box-shadow: none !important;
}